@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 600;
  src: url('./fonts/Roboto-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(255, 0, 0);
  user-select: none;
  font-family: Roboto;
}
body {
  position: relative;
}

.container {
  height: 95vh;
  display: flex;
  justify-self: center;
  justify-content: center;
  flex-direction: column;
}

h1,
h2,
p {
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  font-size: 74px;
  color: white;
  margin: 0 auto;
}

.btn {
  margin-top: 50px;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  font-size: 30px;
  color: rgb(255, 0, 0);
  border: 2px solid white;
  box-shadow: 1px 1px 10px #a0a0a0;
  transition: all 0.1s ease-out;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 1px 1px 18px #26e7f5;
}

.btn:active {
  transform: scale(1.03);
}

p {
  color: cornflowerblue;
  font-weight: 500;
}

h1 {
  font-weight: normal;
}

h2 {
  margin-bottom: 30px;
}

#close-icon {
  padding: 3px;
  margin: 2px;
  top: 2px;
  right: 3px;
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

#clock {
  position: absolute;
  top: 3vh;
  right: 5vw;
  font-size: 30px;
}

@keyframes d-alarm {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(-30px);
  }
  10% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(30px);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-30px);
  }
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(30px);
  }
  40% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(0);
  }
  52% {
    transform: translateX(10px);
  }
  55% {
    transform: translateX(0);
  }
}

.d-animation {
  animation: d-alarm 1.5s linear infinite;
}
