* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 580px;
  overflow: hidden;
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 600;
  src: url('./fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: Comforta;
  font-weight: 500;
  src: url('./fonts/Comfortaa-Regular.ttf');
}

@font-face {
  font-family: Comforta;
  font-weight: 600;
  src: url('./fonts/Comfortaa-Bold.ttf');
}

.container {
  position: absolute;
  top: 39px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
}

.container::-webkit-scrollbar {
  width: 0px;
}

.close-img {
  position: absolute;
  top: 6px;
  right: 7px;
  width: 16px;
  height: 16px;
  padding: 4px;
  cursor: pointer;
  transition: all 0.1s ease-in;
  z-index: 1000;
  -webkit-app-region: none;
}

.close-img:active {
  transform: translateY(-1px);
}

#close {
  fill: #fff;
  transition: all 0.2s ease-out;
}

.close-img:hover #close {
  fill: rgb(255, 8, 8);
}

.title {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 8px;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.857);
  color: #fff;
  font-size: 20px;
  font-family: Roboto;
  text-align: center;
  user-select: none;
  z-index: 999;
  -webkit-app-region: drag;
}

.curr-time {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
}

.alerts {
  display: flex;
  flex-direction: column;
  padding: 4px;
  overflow: hidden;
}

.alert-item-wraper {
  display: flex;
  flex-direction: column;
  max-height: 0;
  transform: scaleY(0);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.show-alert {
  max-height: 7em;
  margin-bottom: 3px;
  transform: scaleY(1);
  transform-origin: top;
  opacity: 1;
}

.alert-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px 5px;
  border-radius: 5px 5px 0 0;
  background-color: rgba(0, 0, 0, 0.857);
  user-select: none;
}

.alert-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 10px 10px;
  border-radius: 0 0 5px 5px;
  background-color: rgba(0, 0, 0, 0.857);
  font-family: Comforta;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  overflow: hidden;
}

.alert-message__text {
  height: 18px;
  width: 54%;
  padding: 5px;
  margin-left: 10px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 3px;
  white-space: nowrap;
  overflow: hidden;
}

.alert-message__text:focus {
  outline: none;
  border-color: skyblue;
}

.alert-time {
  display: flex;
  justify-content: space-between;
}

.time {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #fff;
  font-family: Roboto;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}
.time::-webkit-scrollbar {
  width: 0px;
}

.time:focus {
  outline-color: blue;
}

.alert-item__hours,
.alert-item__minutes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 40px;
  overflow: hidden;
  color: #fff;
  font-family: Roboto;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  z-index: 100;
}

.time-value {
  z-index: 101;
}

.alert-item__daily {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(7, 40px);
  justify-items: center;
  align-self: center;
  margin-left: 30px;
  font-family: Comforta;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  list-style: none;
}

.day-checker {
  padding: 4px 2px;
  color: #fff;
  transition: color 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.disabled {
  color: #ffffff27;
}

.buttons-block {
  display: flex;
  justify-content: center;
  margin: 6px;
}

.btn {
  font-family: Roboto;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.addAlertBtn {
  width: 400px;
  margin: 6px auto;
  padding: 1px 0;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.857);
  color: rgba(255, 255, 255, 0.05);
  font-size: 38px;
  cursor: pointer;
}

.addAlertBtn:hover {
  color: rgba(255, 255, 255, 1);
}

.alert-switch {
  display: flex;
  align-items: center;
}

.onoffswitch {
  position: relative;
  width: 32px;
  margin: 0 10px;
  user-select: none;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 14px;
  padding: 0;
  line-height: 14px;
  border: 2px solid #e3e3e3;
  border-radius: 14px;
  background-color: #afafaf;
  transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
  content: '';
  display: block;
  width: 14px;
  margin: 0px;
  background: #979797;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  border: 2px solid #d4d4d4;
  border-radius: 14px;
  transition: all 0.2s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #fff;
}
.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #cccccc;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
  background-color: rgba(3, 27, 247, 0.6);
}

.bin {
  cursor: pointer;
  transform: translateY(16px);
}

.bin:hover svg {
  fill: rgba(241, 67, 67, 0.6) !important;
}
